[submodule "vendor/jade-mode"]
	path = vendor/jade-mode
	url = git@github.com:brianc/jade-mode.git
[submodule "vendor/align-cljlet"]
	path = vendor/align-cljlet
	url = git@github.com:gstamp/align-cljlet.git
[submodule "vendor/emacs-powerline"]
	path = vendor/emacs-powerline
	url = git@github.com:jonathanchu/emacs-powerline.git
